@import "minima";


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// react components

#root,#container_posts {
  animation: fadeIn 1s;
}

#root {
  background-color: $primary-color;
}

#container_posts {
	background-color: rgba($primary-color,0.8);

	.async-component {
		background-color: rgba($primary-color,0.95);
	}
}